<header class="cu-header">
  <div class="cu-header__inner">
    <img src="/ProjectSourceCode/src/views/Images/image.png" alt="CU SWAP" class="cu-logo" />

    {{#if showAuthButtons}}
      <div class="cu-auth-buttons">
        <a href="/login" class="cu-btn">Login</a>
        <a href="/register" class="cu-btn">Register</a>
      </div>
    {{/if}}
  </div>
  <div class="cu-header-separator"></div>
</header>
