<nav class="cu-nav">
  <ul class="cu-nav-list">
    <li><a href="/home" class="cu-nav-link">Home</a></li>
    <li><a href="/my-listings" class="cu-nav-link">My Listing</a></li>
    <li><a href="/logout" class="cu-nav-link">Logout</a></li>
  </ul>
</nav>
