<form action="/leave_review" method="POST">
    <input name="rating" id="rating" type="number" min="1" max="5" placeholder="rating" required>
    <input name="review" id="review" type="text" placeholder="review" required>
    <input name="username" id="username" type="text" placeholder="username" required>
    <button type="submit">Submit</button>
</form>
