<form action="/leave_review" method="POST">
    <input  name="rating" id ="rating" type="text" placeholder="rating">
    <input name="review" id = "review" type="text" placeholder="review">
    <input name="username" id = "username" type="text" placeholder="username">
    <button type="submit">Submit</button>
</form>