{{> message}}

<style>
  .logout-content {
  min-height: 55vh;
}

 .create-listing-black {
  background-color: #000 !important; /* black */
  color: #fff !important;            /* white text */
  border: none;
}

/* hover + focus */
.create-listing-black:hover,
.create-listing-black:focus {
  background-color: #cfb87c !important; /* gold */
  color: #000 !important;               /* black text */
}
</style>

<div class="container mt-5 text-center logout-content">
  <h2>Logged out Successfully</h2>
  <a href="/login" class="btn btn-primary mt-3 create-listing-black">Login Again</a>
</div>
